
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*
{
    box-sizing: border-box;
}
body
{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}
.bg{
    background: url(https://cdn.pixabay.com/photo/2017/09/11/19/20/blacksmith-2740128_960_720.jpg) no-repeat center center/cover;
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(30px);
}
.loading-text
{
    font-size: 100px;
    color: rgb(255, 255, 255);
}