
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root
{
    --primary-color: #1d26a1;
    --secondary-color: #3c46b6;
}
*
{
    box-sizing: border-box;
}
.btn
{
    margin: 5px 50px;
    padding: 0.6rem;
    border-style: none;
    font-size: 1rem;
    border-radius: 50px;
}
body
{
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header
{
    padding: 1rem;
    position: fixed;
    z-index: 9;
    width: 100%;
    background-color: var(--secondary-color);
}
#search
{
    background-color: transparent;
    padding: 0.5rem 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    color: #fff;
}
#search::placeholder
{
    color: #c1c4f3;
}
#search:focus
{
    outline: none;
    background-color: var(--primary-color);
}
#form
{
    display: flex;
    justify-content: space-between;
    
}
main
{
    display: flex;
    flex-wrap: wrap;
    
}
.movie img
{
    width: 100%;
    
}
.movie
{
    width: 400px;
    margin: 2rem;
    margin-top: 5rem;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.movie-info
{
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    letter-spacing: 05px;
}
.movie-info h3
{
    margin-top: 0;
}
.movie-info span
{
    background-color: var(--primary-color);
    padding: .25rem .5rem;
    border-radius: 1rem;
    font-weight: bold;
}
.movie-info span.green
{
    color: rgb(75, 247, 75);
}
.movie-info span.orange
{
    color: rgb(235, 158, 16);
}
.movie-info span.red
{
    color: red;
}
.overview
{
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    border-radius: 10px;
    max-height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(101%);
    transition: 0.3s ease-in;
}
.movie:hover .overview
{
    transform: translateY(0);
}
/* *android tablets  */

@media (max-width:500px)
{

}
@media(max-width:768px)
{
    header
    {
        padding-top: 6px;
        padding-bottom: 6px ;
    }
    #form
    {
        justify-content: center;
    }
}